pre{
  text-align: left;
  outline: 1px solid #ccc;
  padding: 5px; margin: 5px;
}
.it{
  background:#535456
}
.men{
      white-space: unset;
}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
